<!DOCTYPE html>
<html lang="es">
{% load static %}
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static "gestionUsuarios/img/logo/mediak-logo.ico" %}">
      <title>{% block title %} {% endblock %}</title>
      {% block css %}
      <link href="{% static "gestionUsuarios/css/bootstrap.css" %}" rel="stylesheet">
      <link href="{% static "gestionUsuarios/css/sticky-footer-navbar.css" %}" rel="stylesheet">
      {% endblock %}
   </head>
   <body>
      <header>
         <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger border-bottom box-shadow">
            <img src="{% static "gestionUsuarios/img/logo/mediak-logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <h5 class="my-0 mr-md-auto font-weight-normal" style="padding-left: 5px;">MediaKaanª</h5>
            <nav class="mx-auto">
               <form class="form-inline mt-2 mt-md-0">
                  <div class="form-group">
                     <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar artículos/usuarios..." aria-label="Buscar">
                        <span class="input-group-append">
                           <select id="inputSearch" class="selectpicker">
                              <optgroup label="Artículos">
                                 <option selected>Todos</option>
                                 <option>Películas</option>
                                 <option>Series</option>
                                 <option>Videojuegos</option>
                                 <option>Cómics</option>
                                 <option>Libros</option>
                                 <option>Música</option>
                              </optgroup>
                              <optgroup label="Gente">
                                 <option>Usuarios</option>
                              </optgroup>
                           </select>
                        </span>
                        <span class="input-group-append">
                           <button class="btn btn-secondary" type="submit">Buscar</button>
                        </span>
                     </div>
                  </div>
               </form>
            </nav>

            {# Elementos que se le mostrarán al usuario si está logueado o no #}
            {% if user.is_authenticated %}
              <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">Cerrar sesión</a>
            {% else %}
              <a class="btn btn-success" href="{% url 'gestionUsuarios:user_login' %}" role="button">Iniciar sesión</a>
            {% endif %}
         </div>
         <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="collapsibleNavbar">
               {# Barra de navegación compuesta de la página de Inicio, Chats y Acerca de. #}
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                     <a class="nav-link" href="#">Chats</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                     <a class="nav-link disabled" data-toggle="tooltip" data-placement="bottom" title="Inicie sesión para acceder a esta función." href="#">Chats</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown show">
                     <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                     <div class="dropdown-menu">
                       <a class="dropdown-item" href="#">Mi perfil</a>
                       <a class="dropdown-item" href="#">Mis artículos</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                     </div>
                  </li>
                  {% endif %}
               </ul>
            </div>
         </nav>
      </header>

      <main role="main" class="container">
         <div class="container">
            {% block body_block %}
            {% endblock %}
         </div>
      </main>
      <footer class="footer">
         <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
         </div>
      </footer>
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}
      <script type="text/javascript" src="{% static "gestionUsuarios/js/jquery-3.4.1.min.js" %}"></script>
      <script type="text/javascript" src="{% static "gestionUsuarios/js/popper.js" %}"></script>
      <script type="text/javascript" src="{% static "gestionUsuarios/js/bootstrap.js" %}"></script>
      {% endblock %}
   </body>
</html>

