<!DOCTYPE html>
<html lang="es">
{% load static %}
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static "gestionUsuarios/img/logo/mediak-logo.ico" %}">
      <title>{% block title %} {% endblock %}</title>
      {% block css %}
      <link href="{% static "gestionUsuarios/css/bootstrap.css" %}" rel="stylesheet">
      <link href="{% static "gestionUsuarios/css/sticky-footer-navbar.css" %}" rel="stylesheet">
      {% endblock %}
   </head>
   <body>
      <header>
         <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-danger border-bottom box-shadow">
            <img src="{% static "gestionUsuarios/img/logo/mediak-logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <h5 class="my-0 mr-md-auto font-weight-normal" style="padding-left: 5px;">MediaKaanª</h5>
            <nav class="my-2 my-md-0 mr-md-3">
               <form class="form-inline mt-2 mt-md-0">
                  <div class="form-group">
                     <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar multimedia..." aria-label="Buscar">
                        <span class="input-group-append">
                           <button class="btn btn-secondary" type="submit">Buscar</button>
                        </span>
                     </div>
                  </div>
               </form>
            </nav>

            {# Elementos que se le mostrarán al usuario si está logueado o no #}
            {% if user.is_authenticated %}
              <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">Cerrar sesión</a>
            {% else %}
              <a class="btn btn-success" href="{% url 'gestionUsuarios:user_login' %}" role="button">Iniciar sesión</a>
            {% endif %}
         </div>
         <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="navbar-collapse justify-content-md-center" id="navbarText">
               {# Barra de navegación compuesta de la página de Inicio, Chats y Acerca de. #}
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Chats</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>

      <main role="main" class="container">
         <div class="container">
            {% block body_block %}
            {% endblock %}
         </div>
      </main>
      <!-- Begin page content --><!--
         <main role="main" class="container">
           <h1 class="mt-5">Sticky footer with fixed navbar</h1>
           <p class="lead">Pin a fixed-height footer to the bottom of the 
         viewport in desktop browsers with this custom HTML and CSS. A fixed 
         navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
           <p>Back to <a href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
         </main>
         
         <footer class="footer">
           <div class="container">
             <span class="text-muted">Place sticky footer content here.</span>
           </div>
         </footer> -->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}
      <script type="text/javascript" src="{% static "gestionUsuarios/js/jquery-3.4.1.min.js" %}"></script>
      <script type="text/javascript" src="{% static "gestionUsuarios/js/popper.js" %}"></script>
      <script type="text/javascript" src="{% static "gestionUsuarios/js/bootstrap.js" %}"></script>
      {% endblock %}
   </body>
</html>

