<!DOCTYPE html>
<html lang="es">
{% load static %}
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static "gestionUsuarios/img/logo/mediak-logo.ico" %}">
      <title>MediaKaanª | Iniciar sesión</title>
      <link href="{% static "gestionUsuarios/css/bootstrap.css" %}" rel="stylesheet">
      <link href="{% static "gestionUsuarios/css/signin.css" %}" rel="stylesheet">
   </head>
   <body class="text-center">
      <div class="card">
         <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">Inicie sesión</h1>
            <img class="mb-4" src="{% static "gestionUsuarios/img/logo/mediak-logo.png" %}" alt="" width="72" height="72">
         </div>
         <div class="card-body">
            <form class="form-signin" method="post" action="{% url 'gestionUsuarios:user_login' %}">
               {% csrf_token %}
               <label for="inputEmail" class="sr-only">Dirección email</label>
               <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Dirección email" required autofocus>
               <label for="inputPassword" class="sr-only">Contraseña</label>
               <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
               <div class="checkbox mb-3">
                  <label>
                  <input type="checkbox" value="remember-me"> Recuérdame
                  </label>
               </div>
               <hr>
               <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar sesión</button>
            </form>
         </div>
         <div class="card-footer">
            <div class="d-flex justify-content-center links">
               <p>¿No dispone de usuario? <a href="{% url 'gestionUsuarios:register' %}"> Regístrate aquí</a></p>
            </div>
            <div class="d-flex justify-content-center">
               <a href="#">Olvidé mi contraseña</a>
            </div>
            <p class="mt-5 mb-3 text-muted">MediaKaanª 2019-2020</p>
         </div>
      </div>
   </body>
</html>