{% extends "gestionUsuarios/base.html" %}
{% block title %} MediaKaanª | Búsqueda {% endblock %}
{% load static %}
{% block body_block %}
<div class="row">

    <div class="col-lg-12">
        <small class="text-muted">
            Para buscar por tags es necesario realizar una búsqueda con los tags separados por comas. Ej: 'peli,música,videojuego' o 'peli,'.
        </small>
        <h1 class="my-4">Resultados en la categoría {{categoria}}</h1>
        <h2 class="my-4">{{categoria}} > "{{consulta}}"</h2>
        {% if articulos %}
        <h2 class="my-4">Se han encontrado {{articulos.count}} artículos</h2>
        {% endif %}
        <hr>
    </div>

    {% if articulos %}
    <div class="col-lg-12">
        <div class="row">
            {% for articulo in articulos %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{% get_media_prefix %}{{articulo.fotoart}}" width="700" height="400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{articulo.nombre}}</a>
                        </h4>
                        <h5>{{articulo.categoria_text}}</h5>
                        <p class="card-text">{{articulo.descripcion}}</p>
                        <h6><a href="#" class="text-muted">De {{articulo.propietario.username}}</a></h6>
                        {% if articulo.accion == "INTERCAMBIO" %}
                        <span class="badge badge-pill badge-info">{{articulo.accion}}</span>
                        {% elif articulo.accion == "DONO" %}
                        <span class="badge badge-pill badge-success">{{articulo.accion}}</span>
                        {% else %}
                        <span class="badge badge-pill badge-primary">{{articulo.accion}}</span>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small>
                            {% for tag in articulo.tags.all %}
                            <a href="./?consulta={{tag.name}},&categoria=Todas">
                                <label class="text-muted">#{{tag.name}}</label>
                            </a>
                            {% endfor %}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="col-lg-12">
        <h2 class="my-4">No se han encontrado artículos para la búsqueda realizada.</h1>
    </div>
    {% endif %}

</div>
{% endblock %}