{% extends "gestionUsuarios/base.html" %}
{% block title %} MediaKaanª | Artículo "{{articulo.nombre}}" {% endblock %}
{% load static %}
{% block body_block %}
<div class="row" style="padding-bottom: 5%;">
    <a href="javascript:history.back()" style="color: gray;">← Volver atrás</a>
</div>
{% if articulo %}
<div class="row" style="padding-bottom: 5%;">
    <div class="col-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-8 col-md-6">
                        <h3 class="mb-0 text-truncated">Artículo de: {{articulo.0.propietario.username}}</h3>
                        <p>
                            {{usuarioinfo.0.bio}}
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 text-center">
                        <img class="rounded-circle border" src="{% get_media_prefix %}{{usuarioinfo.0.avatar}}"
                            width="140" height="140">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row" style="padding-bottom: 5%;">
    <div class="col-8 mx-auto">
        <div class="card">
            {% if articulo %}
            <a href="./?id={{articulo.media_id}}"><img class="card-img-top" src="{% get_media_prefix %}{{articulo.0.fotoart}}" width="700"
                    height="400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="./?id={{articulo.0.media_id}}">{{articulo.0.nombre}}</a>
                </h4>
                <h5>{{articulo.0.categoria_text}}</h5>
                <p class="card-text">{{articulo.0.descripcion}}</p>
                {% if articulo.0.accion == "INTERCAMBIO" %}
                <span class="badge badge-pill badge-info">{{articulo.0.accion}}</span>
                {% elif articulo.0.accion == "DONO" %}
                <span class="badge badge-pill badge-success">{{articulo.0.accion}}</span>
                {% else %}
                <span class="badge badge-pill badge-primary">{{articulo.0.accion}}</span>
                {% endif %}
                <br>
                <small>
                    {% for tag in articulo.0.tags.all %}
                    <a href="{% url 'gestionArticulos:artresults' %}?consulta={{tag.name}},&categoria=Todas">
                        <label class="text-muted">#{{tag.name}}</label>
                    </a>
                    {% endfor %}
                </small>
            </div>
            <div class="card-footer">
                <small>{{articulo.0.fechaAd}}</small>
            </div>
            {% else %}
            <div class="card-body">
                <p class="card-text">El artículo no existe, se ha asignado o se ha borrado.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if articulo %}
<input type="hidden" id="user_latUb" value="{{usuarioub.latUb}}">
<input type="hidden" id="user_lngUb" value="{{usuarioub.lngUb}}">
<div class="row" style="padding-bottom: 5%;">
    <div class="col-8 mx-auto">
        <div id="mapid" style="width: 100%; height: 400px;">
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static "gestionUsuarios/js/jquery-3.4.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "gestionUsuarios/js/popper.js" %}"></script>
<script type="text/javascript" src="{% static "gestionUsuarios/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static "gestionUsuarios/js/showubication.js" %}"></script>
{% endblock %}