{% extends "gestionUsuarios/base.html" %}
{% block title %} MediaKaanª | Mis artículos {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block body_block %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" href="{% url 'gestionArticulos:add_article' %}"><span
                        class="glyphicon">&#x2b;</span> Añadir artículo</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" href="{% url 'gestionUsuarios:my_profile' %}">Mi perfil</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" href="{% url 'gestionArticulos:my_articles' %}">Mis artículos</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" href="{% url 'gestionUsuarios:delete_user' %}">Eliminar perfil</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h4 class="card-title">Mis artículos</h4>
        <p>En esta página se muestran listados los artículos que ha obtenido o subido el usuario, el cual podrá
            editarlos, asignarlos o borrarlos según como desee.</p>
        <h5><a href="{% url 'gestionArticulos:my_articles' %}">Subidos</a> / Recibidos</h5>
        <hr>
        <div class="container">
            {% if not articulos %}
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <p>No ha recibido aún ningún artículo, busque alguno que le interese y comuniquese con los
                        propietarios.</p>
                </div>
            </div>
            {% else %}
            {% for articulo in articulos %}
            <div class="row">
                <div class="col-12 col-lg-4 col-md-6 text-center">
                    <img class="rounded" src="{% get_media_prefix %}{{articulo.fotoart}}" height="335" width="195">
                </div>
                <div class="col-12 col-lg-8 col-md-6">
                    <a href="{% url 'gestionArticulos:art' %}?id={{articulo.media_id}}">
                        <h3 class="mb-0 text-truncated">{{articulo.nombre}}</h3>
                    </a>
                    <h5>{{articulo.categoria_text}}</h5>
                    <p>
                        {{articulo.descripcion}}
                    </p>
                    {% if articulo.accion == "INTERCAMBIO" %}
                    <span class="badge badge-pill badge-info">{{articulo.accion}}</span>
                    {% elif articulo.accion == "DONO" %}
                    <span class="badge badge-pill badge-success">{{articulo.accion}}</span>
                    {% else %}
                    <span class="badge badge-pill badge-primary">{{articulo.accion}}</span>
                    {% endif %}
                    <small>
                        {% for tag in articulo.tags.all %}
                        <a href="{% url 'gestionArticulos:artresults' %}?consulta={{tag.name}},&categoria=Todas">
                            <label class="text-muted">#{{tag.name}}</label>
                        </a>
                        {% endfor %}
                    </small>
                    <p class="font-italic">
                        Artículo asignado por: <a href="{% url 'gestionUsuarios:usr' %}?username={{articulo.propietario.username}}">{{articulo.propietario.username}}</a>
                    </p>
                    {% if articulo.valorado > 0 %}
                    <p>
                        Ha valorado el artículo y el usuario con: {{articulo.valorado}} ★
                    </p>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group" id="rating-ability-wrapper">
                            <label class="control-label" for="rating">
                            <span class="field-label-header">Aún no ha valorado el artículo ni el usuario ¿cual sería su valoración de la experiencia?</span><br>
                            <span class="field-label-info"></span>
                            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                            </label>
                            <h2 class="bold rating-header" style="">
                            <span class="selected-rating">0</span><small> / 5</small>
                            </h2>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="submit" name="valorar" value="{{articulo.media_id}}" class="btn btn-success">Valorar</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<br>
{% endblock %}
{% block extra_css %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static "gestionArticulos/js/startrating.js" %}"></script>
{% endblock %}
